/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
  outline: 1px solid black;
}

/* Doodle Stage */
#stage {
  height: 300px;
  width: 700px;
  position: relative;
}
/* Frist G*/
.FirstG {
  position: absolute;
  bottom: 90px;
  left: 50px;
  margin: 0px;
}
/* Red Imposter*/
.Redicon {
  position: absolute;
  bottom: 80px;
  left: 180px;
  margin: 0px;
}
.Redicon:hover {
transform: rotate(360deg);
transition: all 2s;
translateY(300px);
}

/* Orange Imposter SVG*/
.Orangeicon {
  position: absolute;
  bottom: 80px;
  left: 280px;
  margin: 0px;
}

/* Lower case g SVG*/
.Secondg {
  position: absolute;
  bottom: 20px;
  left: 380px;
  margin: 0px;
}
