/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
  outline: 1px solid black;
}

/* Doodle Stage */
#stage {
  height: 300px;
  width: 700px;
  position: relative;
}
/* Frist G*/
.FirstG {
  position: absolute;
  bottom: 90px;
  left: 50px;
  margin: 0px;
}
/* Red Imposter*/
.Redicon {
  position: absolute;
  bottom: 80px;
  left: 180px;
  margin: 0px;
}
